@model IEnumerable<codes_netCore.Models.BaseTable>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <table id="tb1" class="table table-bordered text-center">
            <thead>
                <tr>
                    <th class="cellPadding">R</th>
                    <th width="50">AB / C</th>
                    @for (int i = 0; i < 10; ++i)
                    {
                        <th>@i</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 50; ++i)
                {
                    <tr>
                        <th class="cellPadding" id="RValue">@Model.ElementAt(i).R</th>
                        <th>@Model.ElementAt(i).AB</th>
                        @for (int j = 0; j < 10; ++j)
                        {
                            <td id="@Model.ElementAt(i).codes[j].id" style="background-color:@Model.ElementAt(i).codes[j].colorHEX">@Model.ElementAt(i).codes[j].code</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-sm-12">
        <table id="tb2" class="table table-bordered text-center">
            <thead>
                <tr>
                    <th class="cellPadding">R</th>
                    <th width="50">AB / C</th>
                    @for (int i = 0; i < 10; ++i)
                    {
                        <th>@i</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 50; i < 100; i++)
                {
                    <tr>
                        <th class="cellPadding">@Model.ElementAt(i).R</th>
                        <th>@Model.ElementAt(i).AB</th>
                        @for (int j = 0; j < 10; ++j)
                        {
                            <td id="@Model.ElementAt(i).codes[j].id" style="background-color:@Model.ElementAt(i).codes[j].colorHEX">@Model.ElementAt(i).codes[j].code</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>